body {
    background: #DC5F3B;
    background: linear-gradient(45deg, #DC5F3B 0%, #27CFD0 70%, #4AF14B 100%);
}

main {
    border-bottom: 2px solid black;
}

.container, .video, .conteudo-principal, .titulo-artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho{
    margin: 10px auto;
    font-size: 40px;
    font-weight: bold;
}

.video {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.conteudo-principal {
    line-height: 1.6;
    border-top: 2px solid black;
    margin: 50px;
}

.titulo-principal, .titulo-segundo, .titulo-terceiro{
    font-size: 30px;
    font-weight: bold;
}

ul{
    list-style-type: disc;
    padding: 15px;
}

ol {
    list-style-type: decimal;
    padding: 15px;
}

.lista-itens, .lista-preparo{
    font-size: 20px;
}

.alaska-imagem{
    display: flex;
    margin: auto;
}

.titulo-artigo {
    color: darkgreen;
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
}

.artigo-escrito{
    text-align: justify;
    color: black;
    font-weight: bold;
    font-size: larger;
    margin: 15px;
    padding: 10px;
    line-height: 1.6;
}

footer{
    font-size: 15px;
	text-align: center;
	padding: 20px 0;
	color: black;
}

.redes {
	margin: 15px;
	padding: 0 10x;
}

a {
	margin: 20px;
    cursor: pointer;
    text-decoration: underline;
}